p{
    text-align: center;
}
img{
    width:750px;
    margin:100px;
}
body{
    background-color: pink;
    font-family: sans-serif;
    cursor:none;
}
div{
    background-color: #AA0000;
    text-align: center;
    padding: 30px;
    border-radius: 50px;
}
h2{
    font-size: 50px;
    margin-bottom: 20px;
}
h4{
    font-size: 30px;
    margin-bottom: 200px;
}
.a{
    text-align: end;
    margin-right: 80px;
}
div a{
    background-color: #FF0000;
    border: 5px solid #710000;
    text-decoration: none;
    color:black;
    font-size: 30px;
    padding: 20px;
    border-radius: 50px;
}
.img{
    text-align: start;
}
.imgg{
    width: 300px;
    margin: 10px;
    margin-bottom: 0px;
}
.cursor{
    animation: move 1s infinite alternate;
    transition: width .3s, heigth .3s;
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 25%;
}
